<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>OSAScriptingDefinition</key>
	<string>OneWay.sdef</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>OneWay.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.cocoaism.${PRODUCT_NAME:identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SUFeedURL</key>
	<string>http://appcast.cocoaism.com/oneway</string>
	<key>SUEnableAutomaticChecks</key>
	<string>YES</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_public.pem</string>
	<key>CFBundleVersion</key>
	<string>0.0.1</string>
	<key>OWVersionRequiresFinderRestart</key>
	<string>YES</string>
</dict>
</plist>
